body{
	background-color: #02CFCB;
	font-family: 'Montserrat', sans-serif;
}

.div-rigth{
	margin-top: 50px !important;
}

.crop{
	float:left;
	overflow:hidden; /* IMPORTANTE */
}

.crop .image-profile{
	height: 350px;
	width: 70%;
	/*border-radius: 50%;*/
	margin-left: 5%;
	margin-top : 5%;
}

.div-rigth{
	overflow: hidden;
	padding: 30px;
}
.titles{
	text-align: center;
}

table {
	margin-top: 5%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 5%;
}

td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #22BBF9;
    font-weight: bold;
}

.div-rigth a{
	font-size: 1.5em;
}

.title-photo{
	text-align: center; 
	margin-bottom: 10%;
}